<div class="container">
  <div class="header-image"></div>

  <div class="header-profile">
    <div class="avatar-image"></div>

    <h1 class="name">
      Full Name
      <small>@screen_name</small>
    </h1>

    <div class="buttons">
      <div class="btn btn-primary follow">Follow</div>
    </div>

    <div class="counters">
      <div class="counter">
        <div class="value">123</div>
        <div class="label">followers</div>
      </div>
      <div class="counter">
        <div class="value">123</div>
        <div class="label">following</div>
      </div>
      <div class="counter">
        <div class="value">123</div>
        <div class="label">posts</div>
      </div>
    </div>
  </div>
</div>
