<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="block">
    <div class="h1 fw-bolder">Sign in</div>
    <div class="text-muted">
      New Here?
      <a [routerLink]="'/register'">Create an Account</a>
    </div>
  </div>

  <div class="block">
    <div class="form-floating">
      <input
        [class.has-validation]="validation"
        autofocus
        class="form-control without-valid"
        formControlName="email"
        placeholder="Email address"
        type="email"
      />
      <label>Email address</label>
      <div *ngIf="email.invalid" class="invalid-tooltip">Please enter your valid email address</div>
    </div>
  </div>

  <div class="block">
    <div class="form-floating">
      <input
        [class.has-validation]="validation"
        class="form-control without-valid"
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <label>Password</label>
      <div *ngIf="password.invalid" class="invalid-tooltip">Please enter your valid password</div>
    </div>
  </div>

  <div *ngIf="error" class="block text-danger">Incorrect email or password</div>

  <div class="block">
    <button [disabled]="form.disabled" class="btn btn-lg btn-primary" type="submit">
      <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
      Sign In
    </button>
  </div>

  <div class="block text-muted">Use Private mode on a shared device</div>
</form>
