<div class="container container-max-width-md py-sm-5 py-3">
  <div class="d-flex align-items-center">
    <div
      [routerLink]="['/', '@' + post.profile.screenName]"
      class="d-inline-flex flex-grow-1 align-items-center"
      style="cursor: pointer"
    >
      <div
        class="avatar-image border rounded-3"
        style="width: 4rem; height: 4rem"
        [style.background-image]="
          post.profile.avatarUri ? 'url(' + post.profile.avatarUri + ')' : null
        "
      ></div>

      <div class="ms-2 flex-grow-1">
        <div class="fs-5 fw-bold">{{ post.profile.displayName }}</div>
        <div class="fs-6 text-muted">@{{ post.profile.screenName }}</div>
      </div>
    </div>

    <div class="justify-self-end">
      <ng-container
        *ngIf="post.profile.followed; then unfollowButton; else followButton"
      ></ng-container>

      <ng-template #followButton>
        <button (clickLoggedIn)="followed.emit(post.profile)" class="btn btn-primary">
          Follow
        </button>
      </ng-template>

      <ng-template #unfollowButton>
        <button (clickLoggedIn)="unfollowed.emit(post.profile)" class="btn btn-outline-primary">
          Unfollow
        </button>
      </ng-template>
    </div>
  </div>

  <div class="mt-3">
    <div class="fs-4">
      {{ post.content }}
    </div>

    <div class="mt-2">
      <ng-container *ngFor="let media of post.mediaAttachments">
        <div class="block">
          <img [src]="media.fileUri" class="img-fluid border rounded-3" />
        </div>
      </ng-container>
    </div>

    <div class="mt-3 text-muted fs-6">
      {{ post.createdAt | date: 'medium' }}
    </div>
  </div>

  <div class="mt-3">
    <div class="input-group input-group-lg">
      <ng-container>
        <ng-container *ngIf="post.liked; then unlikeButton; else likeButton"></ng-container>

        <ng-template #likeButton>
          <button (clickLoggedIn)="liked.emit(post)" class="btn btn-danger">Like</button>
        </ng-template>

        <ng-template #unlikeButton>
          <div (clickLoggedIn)="unliked.emit(post)" class="btn btn-outline-danger">Unlike</div>
        </ng-template>
      </ng-container>

      <div class="input-group-text bg-light text-danger border-danger">{{ post.likesCount }}</div>
    </div>
  </div>
</div>
