@import 'common';

@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/inter/variable-full.css';
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
  font-family: 'InterVariable', $font-family-sans-serif;
}

// Consistent margin between blocks
.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

// Bootstrap <-> Angular form validation state
.has-validation.ng-invalid.ng-dirty:not(.without-invalid),
.has-validation.ng-invalid.ng-touched:not(.without-invalid) {
  @extend .is-invalid;
}

.has-validation.ng-valid.ng-dirty:not(.without-valid),
.has-validation.ng-valid.ng-touched:not(.without-valid) {
  @extend .is-valid;
}

// Show spinner only in disabled button
button[type='submit']:enabled > .spinner-border {
  display: none;
}

// Display only single error at a time
.invalid-tooltip div {
  display: none;
}

.invalid-tooltip div:first-child {
  display: block;
}

@each $breakpoint, $container-max-width in $container-max-widths {
  .container-max-width-#{$breakpoint} {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }
}

.modal {
  background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
}

.header-image {
  background-color: $gray-700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%233d4349' fill-opacity='1' d='M0,128L48,144C96,160,192,192,288,186.7C384,181,480,139,576,154.7C672,171,768,245,864,234.7C960,224,1056,128,1152,90.7C1248,53,1344,75,1392,85.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
}

.avatar-image {
  background-color: $gray-300;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 24 24' width='16' height='16' fill='%23adb5bd' %3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
}
