<div class="modal-dialog modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title fs-6">{{ title }}</h5>
      <button (click)="close()" class="btn-close" aria-label="Close"></button>
    </div>

    <div class="modal-body">
      <image-cropper
        [imageFile]="file"
        [aspectRatio]="width / height"
        [maintainAspectRatio]="true"
        [resizeToWidth]="width"
        [resizeToHeight]="height"
        backgroundColor="white"
        (imageCropped)="imageCropped($event)"
        imageQuality="100"
        format="jpeg"
        style="max-height: 75vh"
      ></image-cropper>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success w-100" (click)="confirm()">
        {{ applyButton }}
      </button>
    </div>
  </div>
</div>
